@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #a3c3ec;
}

#tentacles {
    width: 50px;
}

.header {
    background-color: rgb(158, 82, 229);
    display: flex; 
    flex-direction: row;
    overflow: hidden;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.intro {
    display: flex; 
    float: left;
    align-items: center;
    margin-left: 10px;
    width: 85%;
}

/* Add a black background color to the top navigation */
.navbar {
    margin: 0px; 
    padding: 0px;
    display: flex;
    align-self: center;
    flex-flow: row wrap;
    list-style: none;
}
  
/* Style the links inside the navigation bar */
.navbar a {
    text-decoration: none;
    padding: 7px 7px;
    font-size: 30px;
    text-align: center;
    color: #a3c3ec;
}

.navbar a:hover {
    color: black;
}

@media all and (max-width: 500px) {
    .navbar {
        flex-direction: column;
    }
}


/* We first create a flex layout context */
.stats-container {
    display: flex; 
    align-items: center; /*This defines the alignment along the cross axis.*/
}

/* Any button over which the user's pointer is hovering */
.stats-container:hover { /*which lets you know if the mouse is over an element or not*/
    cursor: pointer;
    box-shadow: 0 0 30px rgb(158, 82, 229);
}

.stats-card {
    background-color: #98dfaf;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px rgb(158, 82, 229);
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    margin-bottom: 30px;
}

button:hover {
    cursor: pointer;
    background-color: #98dfaf;
}

#description-container {
    text-align: center;
}

